{% macro version() -%}
{{ metadata["name"] }} {{ metadata["version"] }}
{%- endmacro -%}

{% macro nice_key(key, value, default, comment) %}
    {%- if value is not defined or value is none or value == '' -%}
# {{ key }}: {{ default }} {% if comment -%} # {{ comment }}{%- endif %}
    {%- else -%}
{{ key }}: {{ value }} {% if comment -%} # {{ comment }}{%- endif %}
    {%- endif -%}
{% endmacro %}

{% macro model_docs(voicemodel) %}
  {%- if voicemodel.provider.provider == 'piper' -%}
# You can find more information about Piper voices here:
# https://piper.readthedocs.io/en/latest/voices.html
  {%- elif voicemodel.provider.provider == 'polly' -%}
# You can find more information about AWS Polly voices here:
# https://docs.aws.amazon.com/polly/latest/dg/voicelist.html
  {%- endif -%}
{% endmacro %}

{%- macro deep_dict(data) %}
{% for key, value in data.items() -%}
{% if value is mapping -%}
{{ key }}:
{{- deep_dict(value) | indent(4) }}
{%- else -%}
{{ key }}: "{{ value }}"
{% endif -%}
{% endfor %}
{% endmacro -%}
