
{%- import 'functions.jinja' as f -%}
---
# Schema version
ovp_schema: {{ voicepack.ovp_schema }}

# Voicepack Information
name: {{ voicepack.name }}
{{ f.nice_key('packname', voicepack.packname, "") }}
{{ f.nice_key('description', voicepack.description, "You can provide a short description of your voice pack here.") }}
{{ f.nice_key('creator', voicepack.creator, "Anonymous") }}
{{ f.nice_key('contact', voicepack.contact, "Add an email address if you would like.") }}

{%- if voicepack.model %}

model: # Model configuration
{{ f.model_docs(voicepack.model) }}
    {%- for key, value in voicepack.model.model_dump()| items %}
    {{ key }}: {{ value }}
    {%- endfor -%}
{% endif %}

{%- if voicepack.sounds %}

sounds: # Sound definitions.
# Nested sounds are added to subfolders in the voice pack.
{{ f.deep_dict(voicepack.sounds) | indent(4) -}}
{%- endif %}

# Created with {{ f.version() }}
