
{%- import 'functions.jinja' as f -%}
---
# Schema version
ovp_schema: {{ voicepack.ovp_schema }}

# Voicepack Information
name: {{ voicepack.name }}
{{ f.nice_key('packname', voicepack.packname, "") }}
{{ f.nice_key('description', voicepack.description, "You can provide a short description of your voice pack here.") }}
{{ f.nice_key('creator', voicepack.creator, "Anonymous") }}
{{ f.nice_key('contact', voicepack.contact, "Add an email address if you would like.") }}

{%- if voicepack.model %}

model: # Model configuration
{{ f.model_docs(voicepack.model) }}
    {{ f.nice_key('provider', voicepack.model.provider.provider, "TTS provider.") }}
    {{ f.nice_key('language', voicepack.model.language, "Language code (e.g. en-US).") }}
    {{ f.nice_key('voice', voicepack.model.voice, "Voice name.") }}
    {{ f.nice_key('option', voicepack.model.option, "Provider-specific option for the voice model.") }}
    {{ f.nice_key('extra', voicepack.model.extra, "Additional options for the provider.") }}
{%- endif %}

sounds: # Sound definitions.
{%- if voicepack.sounds %}
{{ f.deep_dict(voicepack.sounds) | indent(4) -}}
{%- else %}
    # Sounds can be added here.
    # For example:
    # greeting: "Hello, welcome to OpenVoicePacks!"
    # Or nested in folders:
    # system:
    #   error: "An error has occurred."
{%- endif %}

# Created with {{ f.version() }}
